@model IEnumerable<GadgetStore.Models.User>
    <div class="text-center logo">
        <h1 class="display-4">Управление пользователями</h1>
    </div>

<a class="ml-3 nondecoration" asp-action="Create"><i class="fa fa-plus"></i>Добавить пользователя</a>

<table class="table">
    <tr><th>Логин</th><th>Имя и Фамилия</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.FirstName @user.SecondName</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a title="редактировать" class="text-dark nondecoration" asp-action="Edit" asp-route-id="@user.Id"><i class="fa fa-pencil action-icon"></i></a>
                    <a title="удалить" class="text-dark nondecoration" asp-action="Delete" asp-route-id="@user.Id"><i class="fa fa-trash action-icon"></i></a>
                </form>
            </td>
        </tr>
    }
</table>