@model IEnumerable<GadgetStore.Models.Gadget>

    <div class="text-center logo">
        <h1 class="display-4">GadgetStore</h1>
        <h4 class="h4 logo-bottom">Онлайн магазин гаджетов</h4>
    </div>

<div class="input-group mb-4">
    <input id="searachString" type="search" placeholder="Введите название товара" onchange="search()" aria-describedby="button-addon5" class="smoth-border form-control">
    <div class="input-group-append">
        <button id="button-addon5" type="submit" class="smoth-border btn my-btn"
                onclick="search()">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>
<div class="container row">
    <div class="col-3 pl-3 pr-3 content">
        <p class="font-weight-normal text-center h4 mb-3">Фильтр</p>

        <form id="filter" asp-action="Filter">
            <div class="form-group text-center">
                <label class="control-label font-weight-light mb-0"> Тип гаджета </label>
                <select id="GadgetType" name="GadgetType" class="smoth-border form-control form-control-sm" asp-items="ViewBag.GadgetTypes"></select>
            </div>
            <div class="form-group text-center">
                <label class="control-label font-weight-light mb-0"> Производитель </label>
                <select id="Manufacturer" name="Manufacturer" class="smoth-border form-control form-control-sm" asp-items="ViewBag.Manufacturers"></select>
            </div>
            <div class="form-group text-center">
                <label class="control-label font-weight-light mb-0"> Диагональ </label>
                <select id="Diagonal" name="Diagonal" class="smoth-border form-control form-control-sm" asp-items="ViewBag.Diagonals"></select>
            </div>
            <div class="form-group text-center">
                <label class="control-label font-weight-light mb-0"> Разрешение </label>
                <select id="ScreenResolution" name="ScreenResolution" class="smoth-border form-control form-control-sm" asp-items="ViewBag.ScreenResolutions"></select>
            </div>
            <div class="form-group text-center">
                <label class="control-label font-weight-light mb-0"> Цвет </label>
                <select id="Color" name="Color" class="smoth-border form-control form-control-sm" asp-items="ViewBag.Colors"></select>
            </div>
            <div class="form-group text-center">
                <label class="control-label font-weight-light mb-0"> Процессор </label>
                <select id="CPU" name="CPU" class="smoth-border form-control form-control-sm" asp-items="ViewBag.CPUs"></select>
            </div>
            <div class="form-group text-center">
                <label class="control-label font-weight-light mb-0"> Флэш-память </label>
                <select id="Memory" name="Memory" class="smoth-border form-control form-control-sm" asp-items="ViewBag.Memory"></select>
            </div>
            <div class="form-group text-center">
                <label class="control-label font-weight-light mb-0"> Оперативная память </label>
                <select id="RAM" name="RAM" class="smoth-border form-control form-control-sm" asp-items="ViewBag.RAM"></select>
            </div>


            <div class="form-group row pt-3 justify-content-center">
                <input type="button" value="Применить" class="btn my-btn btn-sm" onclick="filter()" />
            </div>
        </form>
    </div>
    <div id="assortment" class="col pt-5 ml-3 content">
        @foreach (var item in Model)
        {
            <div class="row well offset-md-1 pb-5">
                <div class="col-3 row justify-content-center">
                    @if (item.Picture.Image != null)
                    {
                        <img style='width:135px; height:220px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Picture.Image))" />
                    }
                </div>
                <div class="col-6">
                    <strong>@item.GadgetType.Name @item.Name</strong> <br />
                    <span class="">Производитель: @item.Manufacturer.Name </span> <br />
                    <span>Год: @item.Year </span> <br />
                    <span>Флэш-память: @item.Memory </span> <br />
                    <span>ОЗУ: @item.RAM </span> <br />
                    <span>Процессов: @item.CPU.Name </span> <br />
                    <span>Диагональ экрана: @item.Diagonal.Value </span> <br />
                    <span>Разрешение экрана: @item.ScreenResolution.Value </span> <br />
                    <span>Цвет корпуса: @item.Color.Name </span> <br />
                </div>


                <div class="col-3">
                    @if (item.Count < 1)
                    {
                        <div class="row justify-content-center">
                            <span class="text-danger text-center">Нет в наличии</span>
                        </div>
                    }
                    else
                    {
                        <div class="row justify-content-center">
                            <strong class="text-center">@item.Price р. </strong>
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn btn-outline-info btn-sm align-self-center"
                               onclick="putInCart(@item.Id)">
                                В корзину
                            </button>
                        </div>
                    }
                </div>
            </div>
        }

    </div>
</div>

<div class="modal text-center fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-borders">
            <div class="modal-body">
                <h3 id="modal-info">Modal Body</h3>
            </div>
            <div class="modal-footer">
                <div class="container-fluid p-0 m-0">
                    <button type="button" class="btn btn-block btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
