@model IEnumerable<GadgetStore.Models.Gadget>

@{
    Layout = "_Management";
}

@if (Model.Count() == 0)
{
    <div class="row justify-content-center content h-100">
        <span>Список товара пуст</span>
        <p>
            <a asp-action="Create"><i class="fa fa-plus nondecoration"></i> Добавить</a>
        </p>
    </div>
}
else
{
    <div class="container-fluid">
        <p>
            <a class="nondecoration pl-3" asp-action="Create"><i class="fa fa-plus"></i> Добавить</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Наименование
                    </th>
                    <th>
                        Производитель
                    </th>
                    <th>
                        Характеристики
                    </th>
                    <th>
                        Количество
                    </th>
                    <th>
                        Цена
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.Picture.Image != null)
                            {
                                <img style='width:90px; height:160px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Picture.Image))" />
                            }
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Manufacturer.Name
                        </td>
                        <td>
                            Тип: @item.GadgetType.Name <br />
                            Год: @item.Year  <br />
                            Флэш-память: @item.Memory <br />
                            ОЗУ: @item.RAM <br />
                            Процессов: @item.CPU.Name  <br />
                            Диагональ экрана: @item.Diagonal.Value  <br />
                            Разрешение экрана: @item.ScreenResolution.Value <br />
                            Цвет корпуса: @item.Color.Name  <br />
                        </td>
                        <td>
                            @if (item.Count <= 0)
                            {
                                <span> Товар закончился </span>
                            }
                            else
                            {
                                @item.Count;
                            }
                        </td>
                        <td>
                            @item.Price
                        </td>

                        <td>
                            <a title="редактировать" class="text-dark nondecoration" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil action-icon"></i></a>
                            <a title="удалить" class="text-dark nondecoration" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash action-icon"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
