@model GadgetStore.Models.Cart

<div class="text-center logo">
    <h1 class="display-4">Моя корзина</h1>
</div>


@if (Model == null)
{
    <div class="row justify-content-center content h-100">
        <span>Ваша корзина пуста</span>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="w-60">
                    Товар
                </th>
                <th class="w-20">
                    Цена
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Lines())
            {
                <tr>
                    <td class="w-60">
                        @item.Gadget.Name
                    </td>
                    <td class="w-20">
                        @item.Count x @item.Gadget.Price
                    </td>
                    <td>
                        <a class="btn btn-link nondecoration" asp-action="Remove" asp-route-id="@item.Gadget.Id">Убрать</a>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td >
                    
                </td>
                <td>
                    Итого: @Model.GetSum()
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="row justify-content-center">
        <a type="button" asp-controller="MyCart" asp-action="Delivery" class="btn btn-outline-info"> Оплатить </a>
    </div>

}
